        <nav class="col-12 navbar navbar-expand-lg navbar-dark py-2" style="background-color: #202124;">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <h1 class="navbar-brand"><a class="text-decoration-none text-light" href="/index">Bocaillo</a></h1>
          <a class="navbar-brand" href="/index">
            <img alt="Brand" width="35" height="35"
            src="../img/bocaillo.png">
          </a>
  
          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto ms-2 mb-2 mb-lg-0">
              <li class="nav-item" id="categorias">
                <a class="nav-link text-white" href="/categorias">Categorias</a>
              </li>
              <li class="nav-item" id="trending">
                <a class="nav-link text-white" href="/trending">Trending</a>
              </li>
            </ul>
            <section class="row col-12 mx-0 col-lg-6 justify-content-end align-items-center">
              <!--Perfil-->
              <div class="dropdown ms-3 col-4">
                <a href="#" class="d-flex align-items-center link-light text-decoration-none dropdown-toggle fs-5" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="bi bi-person-circle"></i>
                  <!--<img src="" alt="" width="32" height="32" class="rounded-circle me-2">-->
                  <strong class="text-light">&ensp;<% if(nombreUsuario!=undefined){ %> <%=nombreUsuario %> <%}%></strong>
                </a>
                <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                  <li><a class="dropdown-item" href="../vistaPerfil">Mi Perfil</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/cerrarSesion">Cerrar sesion</a></li>
                </ul>
              </div>
            </section>
          </div>
          <script src="../js/boldOnHover.js"></script>
        </nav>