<nav class="col-12 navbar navbar-expand-lg navbar-dark py-2" style="background-color: #202124;">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <h1 class="navbar-brand"><a class="text-decoration-none text-light" href="index">Bocadillo</a></h1>
    <a class="navbar-brand" href="index">
      <img alt="Brand" width="35" height="35"
      src="img/bocaillo.png">
    </a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto ms-2 mb-2 mb-lg-0">
        <li class="nav-item" id="categorias">
          <a class="nav-link text-light" href="#">Categorias</a>
        </li>
        <li class="nav-item" id="trending">
          <a class="nav-link text-light" href="trending">Trending</a>
        </li>
      </ul>
    </div>
    <script src="../js/boldOnHover.js"></script>
  </nav>