<!doctype html>
<html lang="en">
  <head>
    <%- include('../views/partials/head'); %>
  </head>
  <!-- Container -->
  <body class="container-fluid min-vh-100 d-flex flex-column justify-content-between">
    <header class="row">
      <!-- NavBar -->
      <%- include('../views/partials/navbar'); %>
      <!-- BreadCrumb -->
      <nav class = "row col-12 px-3 py-2 m-0"  style=" background-color: #0d6efd;" aria-label="breadcrumb">
        <ol class="breadcrumb"> 
          <li class="breadcrumb-item ps-1 text-white"><a class = "text-white" href="index">Pagina inicial</a></li>
          <li class="breadcrumb-item ps-1 text-white">Registro</li>
          <li class="breadcrumb-item ps-1 text-white" aria-current="page">Email confirmado</li>
        </ol>
      </nav>
    </header>
    <!-- Contenido-->
    <main class = "row p-5">
      <h2>
        <b>Confirmación Email</b>
      </h2>
      <h3>
        !El proceso fue todo un éxito!
      </h3>
      <img src="img/welcome.png" class="img-fluid" alt="Confirmed img">

      <div class="d-grid gap-2 col-6 justify-content-md-start">
        <button type="button" class="btn btn-success"><a href="index" class="nav-link text-white">Volver a la página principal</a></button>
      </div>
    </main>
    
    
    <!-- Pie de pagina-->
    <%- include('../views/partials/footer'); %> 
    
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
  
</html>