<!doctype html>
<html lang="en">
  <head>
    <%- include('../views/partials/head'); %>
  </head>
  <!-- Container -->
  <body class="container-fluid min-vh-100 d-flex flex-column justify-content-between">
    <header class="row">
    <!-- NavBar -->
    <%- include('../views/partials/navbar'); %>
    
    <!-- BreadCrumb -->
          <nav class = "row col-12 px-3 py-2 m-0"  style=" background-color: #0d6efd;" aria-label="breadcrumb">
              <ol class="breadcrumb"> 
                <li class="breadcrumb-item ps-1 text-white"><a class = "text-white" href="index">Pagina inicial</a></li>
                <li class="breadcrumb-item ps-1 text-white">Registro</li>
                <li class="breadcrumb-item ps-1 text-white" aria-current="page">Confirmación email</li>
              </ol>
          </nav>

    </header>
   <!-- Contenido-->
   <main class = "row p-5">
    <h2>
      <b>Confirmación Email</b>
    </h2>
    <p>
        Hemos enviado un correo a la dirección xxx@email.com. <br>
        Por favor compruebe su buzón y encuentra el mensaje que le hemos mandado.<br>
        Puede que el mensaje tarde como máximo 10 minutos en llegar. <br>
        
    </p>
    <!-- Temporizador-->
    <div class="row justify-content-center border rounded-pill" id="countdown3"></div>

    <p>
        En caso de que transcurrido el período de 10 minutos, tampoco haya recibido el email, pulsa el siguiente botón.
    </p>
    <!--Botones-->
    <div class="d-grid gap-2 col-6 justify-content-md-start">
      <button type="button" class="btn btn-secondary">Enviar de nuevo</button>
      <button type="button" class="btn btn-success"><a href="index" class="nav-link text-white">Volver a la página principal</a></button>
    </div> 
    
</main>
    
    
    <!-- Pie de pagina-->
    <%- include('../views/partials/footer'); %> 
    
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/timer.js"></script>
  </body>
</html>