<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="css/style.css" rel="stylesheet" />

    <title>Bocaillo</title>
  </head>
  <!-- Container -->

  <body class="container-fluid border border-primary">
    <main class="row">

      <!-- NavBar -->
      <nav class="col-12 navbar navbar-expand-lg navbar-dark py-2" style="background-color: #664E88;">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="index.html">Bocaillo</a>
        <a class="navbar-brand" href="index.html">
          <img alt="Brand" width="35" height="35"
          src="img/bocaillo.png">
        </a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav me-auto ms-2 mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#">Categorias</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Trending</a>
            </li>
          </ul>
          <section class="row col-12 mx-0 col-lg-6 justify-content-end align-items-center">
            <!--Perfil-->
            <div class="dropdown ms-3 col-4">
              <a href="#" class="d-flex align-items-center link-light text-decoration-none dropdown-toggle fs-5" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-circle"></i>
                <!--<img src="" alt="" width="32" height="32" class="rounded-circle me-2">-->
                <strong class="text-light">&ensp;Username</strong>
              </a>
              <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                <li><a class="dropdown-item" href="#">Ajustes</a></li>
                <li><a class="dropdown-item" href="#">Perfil</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Cerrar sesion</a></li>
              </ul>
            </div>
          </section>
        </div>
      </nav>

    </main>

    <!-- BreadCrumb -->
    <nav class="row p-1" style="background-color:#63B4B8;">
      <ol class="breadcrumb my-2">
        <li class="breadcrumb-item"><a href="index.html" class="text-light">Pagina Inicial</a></li>
        <li class="breadcrumb-item text-light" aria-current="page">Perfil</a></li>
      </ol>
    </nav>

    <main class="row">
      <!-- Informacion de perfil -->
      <div class="container col-3 mx-auto">

      </div>
      <div class="container col-6 pt-3 mx-auto">
        <style>
            #section {
                background-color: rgb(225, 225, 225);
                border-radius: 25px;
            }
        </style>
        <section id="section">
            <form>
                <p class="pt-4 px-3">
                    <label for="usuario">Usuario: </label>
                    <input type="text" class="form-control" id="username">
                </p>
                <p class="px-3">
                    <label for="email">Email: </label>
                    <input type="text" class="form-control" id="email">
                </p>
                <p class="pb-4 px-3">
                    <label for="password">Contraseña: </label>
                    <input type="text" class="form-control" id="password">
                </p>
            </form> 
        </section>
        <style>
            #buttons {
                float:right;
            }
        </style>
        <div id="buttons">
            <button class="w-40 btn btn-md btn-secondary" type="submit"> <a href="profileView.html" class="nav-link text-white">Cancelar</a> </button>
            <button class="w-40 btn btn-md btn-primary" type="submit"> <a href="profileView.html" class="nav-link text-white">Actualizar</a> </button>
        </div>
      </div>
      <div class="container col-3 mx-auto">

      </div>
    </main>

    <!-- Pie de pagina-->
    <div class="row mt-auto ">
      <footer class="py-4 d-flex" style="background-color: #664E88;">
        <!-- d-flex fixed-bottom flex-wrap justify-content-between align-items-center py-3 border-top -->
        <a
          class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        </a>

        <ul class="nav col-md-4 justify-content-end">
          <li class="nav-item"><a href="#" class="nav-link px-2 text-light">Acerca de nosotros <i class="bi bi-people-fill"></i></a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-light">Ayuda <i class="bi bi-patch-question"></i></a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-light">© 2021 Company, Inc</a></li>
        </ul>
      </footer>
    </div>

    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/deleteAccount.js"></script>
  </body>
  
  <!-- Modal -->
  <div class="modal fade" id="deleteAccount" tabindex="-1" aria-labelledby="deleteAccountLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteAccountLabel">Información</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ¿Seguro que quieres borrar tu cuenta?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-danger">Borrar Cuenta</button>
        </div>
      </div>
    </div>
  </div>
</html>