<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Bootstrap CSS -->
    <link href="./css/style.css" rel="stylesheet" />


    <title>Bocaillo</title>
  </head>
  <!-- Container -->
  <body class="container-fluid min-vh-100 d-flex flex-column justify-content-between">
    <header class="row">
        <!-- NavBar -->
      <nav class="col-12 navbar navbar-expand-lg navbar-dark py-2" style="background-color: #664E88;">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <h1 class="navbar-brand"><a class="text-decoration-none text-light" href="index">Bocadillo</a></h1>
        <a class="navbar-brand" href="index">
          <img alt="Brand" width="35" height="35"
          src="img/bocaillo.png">
        </a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav me-auto ms-2 mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#">Categorias</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Trending</a>
            </li>
          </ul>
          <section class="row col-12 mx-0 col-lg-6 justify-content-end align-items-center">
            <!--Perfil-->
            <div class="dropdown ms-3 col-4">
              <a href="#" class="d-flex align-items-center link-light text-decoration-none dropdown-toggle fs-5" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-circle"></i>
                <!--<img src="" alt="" width="32" height="32" class="rounded-circle me-2">-->
                <strong class="text-light">&ensp;Username</strong>
              </a>
              <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                <li><a class="dropdown-item" href="#">Ajustes</a></li>
                <li><a class="dropdown-item" href="profileView">Perfil</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Cerrar sesion</a></li>
              </ul>
            </div>
          </section>
        </div>
      </nav>
    
    <!-- BreadCrumb -->
          <nav class = "row col-12 px-3 py-2 m-0"  style=" background-color: #63B4B8;" aria-label="breadcrumb">
              <ol class="breadcrumb"> 
                <li class="breadcrumb-item ps-1 text-light" aria-current="page">Pagina inicial</li>
              </ol>
          </nav>

    </header>
    <!-- Main-->
    <main class="row">
   
      <!-- Login -->
      <div class="container col-5 p-3 mx-auto">
        <h2 class="text-center" id="labelIniciarSesion"> Iniciar Sesion</h2>
        <div class="text-center">
          <img class="my-3 mx-auto img-fluid" src="img/grupo.png" id="iconoGrupo" alt="iconoGrupo" height="256">
        </div>
        <form class="text-center" method="POST" action="/login">
  
          <div class="col-12">
            <label for="usuario" class="form-label">Usuario</label>
            <div class="input-group has-validation w-50 mx-auto">
              <input type="text" class="form-control" id="usuario" required>
              <div class="invalid-feedback">
                
              </div>
            </div>
          </div>
  
          <div class="col-12">
            <label for="password" class="form-label">Contraseña </label>
            <div class="input-group has-validation w-50 mx-auto">
              <input type="password" class="form-control" id="password" required>
              <div class="invalid-feedback">
                Introduzca una contraseña
              </div>
            </div>
          </div>
          </br>
          <button class="w-50 btn btn-md btn-primary" type="submit"> Iniciar Sesion </button>    
          <button class="w-50 btn btn-md btn-secondary mt-3" type="submit"> <a href="register" class="nav-link text-white"> Registro</a></button>
        </form>
  
        <div class="mt-5"></div>
  
      </div>
    </section>
  </main>
    
    <!-- Pie de pagina-->

    
  <footer class="row">
    <div class="py-4 d-flex" style="background-color: #664E88;">
      <!-- d-flex fixed-bottom flex-wrap justify-content-between align-items-center py-3 border-top -->
    <ul class="nav justify-content-start col-6 col-md-4">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-light">Español</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-light">English</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-light">中文</a></li>
    </ul>

      <a class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none"></a>

      <ul class="nav justify-content-end col-6 col-md-4">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-light">Acerca de nosotros <i class="bi bi-people"></i></a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-light">Ayuda <i class="bi bi-patch-question"></i></a></i></li>
        <li class="p-2 text-light">© 2022, bocaillo.com</li>
      </ul>
    </div>
  </footer>
    
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>